@model ContactForm

<h2>Contact Form Details</h2>

<div>
    <h4>ContactForm</h4>
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">First Name</dt>
        <dd class="col-sm-10">@Model.FirstName</dd>

        <dt class="col-sm-2">Last Name</dt>
        <dd class="col-sm-10">@Model.LastName</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Message</dt>
        <dd class="col-sm-10">@Model.Message</dd>
    </dl>
</div>

<a asp-action="Index">Back to List</a>
