@model BalkanPanoramaFimlFestival.ViewModels.Account.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    var message = TempData["Message"] as string;

    var encodedMessage = message != null ? System.Text.Encodings.Web.JavaScriptEncoder.Default.Encode(message) : null;
}

<h2>@ViewData["Title"]</h2>

@* @if (message != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            alert('@TempData["Message"]'.replace(/\\n/g, '\n'));
            window.location.href = '@Url.Action("Register", "Account")';
        });
    </script>
} *@

<!-- Add a container for the login button -->
<div class="button-container">
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Login", "Account")'">Login</button>
</div>

<form asp-action="Register" method="post">

    <div asp-validation-summary="All" class="text-danger"></div> <!-- This line displays all validation errors -->

    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Country" class="control-label"></label>
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Register" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        @if (encodedMessage != null)
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    var message = '@encodedMessage'.replace(/\\n/g, '\n');
                    alert(message);
                    window.location.href = '@Url.Action("Register", "Account")';
                });
            </script>
        }
    }
}